body {
    width: 70%;
    margin: 0 auto;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table,
tr,
th,
td {
    border: 1px solid;
    text-align: center;
}

td {
    padding: 5px;
}

header {
    width: 100%;
    margin-bottom: 20px;
}

.err-msg {
    color: red;
}

.navigation > ul {
    list-style: none;
    padding: 0;
}

.navigation > ul > li {
    display: inline-block;
}

.navigation > ul > li > a {
    padding: 10px 7px;
    text-transform: uppercase;
    text-decoration: none;
}

footer {
    width: 100%;
    margin-top: 20px;
    text-align: center;
}
